<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Weekday one:</strong>
    <%= course.weekday_one %>
  </p>

  <p>
    <strong>Weekday two:</strong>
    <%= course.weekday_two %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= course.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= course.end_time %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= course.code %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= course.capacity %>
  </p>

  <p>
    <strong>Available capacity:</strong>
    <%= course.available_capacity %>
  </p>

  <p>
    <strong>Waitlist capacity:</strong>
    <%= course.waitlist_capacity %>
  </p>

  <p>
    <strong>Avaialable waitlist capacity:</strong>
    <%= course.avaialable_waitlist_capacity %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= course.room %>
  </p>

</div>
